.media_linkable {
    color: #82C334;
}

.media_linkable:hover {
    color: #63BB6A;
}

.btn_white {
    color: white;
    font-weight: bold;
}

.btn_black {
    color: black;
    font-weight: bold;
}

.icon_link {
    color: black;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.section-heading, .margin-b-30 {
    margin-bottom: 30px !important;
}


.section-heading, .animated {
    visibility: visible;
    animation-delay: 300ms;
    animation-name: fadeInUp;
}

.a-button {
    padding-top: 18px !important;
}
