<template>
    <div class="custom-control custom-radio">
        <input
            type="radio"
            class="custom-control-input"
            v-model="model"
            :disabled="disabled"
            :id="answer.id"
            :value="answer"
            @change="$emit('update:model',answer)"
        />
        <label class="custom-control-label" :for="answer.id" v-text="answer.name"></label>
    </div>
</template>

<script>
    export default {
        props: {
            answer: {
                type: Object,
                required: true
            },
            model: Object,
            disabled: {
                type: Boolean,
                required: true
            }
        }
    };
</script>

<style>
</style>
