<template>
    <ul>
        <li v-for="answer in this.answers" :key="answer.id">
            <answer-item
                :model="selectedAnswer"
                :answer="answer"
                :disabled="disableList"
                @update:model="onChange"
            ></answer-item>
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            answers: {
                type: Array,
                required: true
            },
            disableList: {
                type: Boolean,
                required: true
            }
        },
        data: function () {
            return {
                selectedAnswer: null
            };
        },
        methods: {
            onChange(answer) {
                this.selectedAnswer = answer;
                this.$emit("onPickAnswer", this.selectedAnswer);
            }
        }
    };
</script>

<style>
</style>
