<template>
    <div class="row">
        <div class="col-12">
            <h3 v-text="this.course.name"></h3>
        </div>
        <div class="col-12" v-for="question in this.course.questions" :key="question.id">
            <question-item
                :area="area"
                :question="question"
                :question-number="_questionNumberOf(question)"
            ></question-item>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            course: {
                type: Object,
                required: true
            },
            area: {
                type: Object,
                required: true
            }
        },
        methods: {
            _questionNumberOf(question) {
                return this.course.questions.indexOf(question) + 1;
            }
        }
    };
</script>
<style>
</style>
