<template>
    <div>
        <template v-if="this.hasSuggestion">
            <h6 v-text="this.questionTitle"></h6>
            <warning-block>
                <a class="link" target="_blank" :href="this.suggestionUrl">{{this.suggestionDescription}}</a>
            </warning-block>
        </template>

        <template v-else-if="this.putSuccessMessage">
            <h6>
                {{this.questionTitle}}
                <img src="/svg/success.svg" alt="success" width="24px" height="24px"/>
            </h6>
        </template>

        <template v-else>
            <h6 v-text="this.questionTitle"></h6>
        </template>
    </div>
</template>

<script>
    export default {
        props: {
            questionTitle: {
                type: String,
                required: true
            },
            suggestionConfig: {
                type: Object,
                required: true
            },
            baseSuggestionUrl: {
                type: String,
                required: true
            }
        },
        computed: {
            hasSuggestion() {
                return this.suggestionConfig.suggestion != null;
            },
            suggestionUrl() {
                return `${this.baseSuggestionUrl}${this.suggestionConfig.suggestion.video_id}`;
            },
            suggestionDescription() {
                return this.suggestionConfig.suggestion.answer_link_description;
            },
            putSuccessMessage() {
                return this.suggestionConfig.setSuccessMessage;
            }
        }
    };
</script>

<style>
</style>
