<template>
    <div class="row">
        <div class="col-12">
            <question-header
                :question-title="this.questionTitle"
                :suggestion-config="this.question.suggestionConfig"
                :base-suggestion-url="this.baseSuggestionUrl"
            ></question-header>
        </div>
        <div class="col-12">
            <ul>
                <li v-for="answer in this.question.answers" :key="answer.id">
                    <div class="custom-control custom-radio">
                        <input
                            type="radio"
                            class="custom-control-input"
                            v-model="question.selectedAnswer"
                            :disabled="disableInput"
                            :id="answer.id"
                            :value="answer"
                            @change="onPickAnswer(answer)"
                        />
                        <label class="custom-control-label" :for="answer.id" v-text="answer.name"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            question: {
                type: Object,
                required: true
            },
            questionNumber: {
                type: Number,
                required: true
            },
            area: {
                type: Object,
                required: true
            }
        },
        computed: {
            questionTitle: function () {
                return this.questionNumber + ".- " + this.question.question;
            },
            disableInput() {
                return this.question.suggestionConfig.disableAnswerInputs;
            },
            baseSuggestionUrl() {
                return `/video-reproductor/${this.area.id}/`;
            }
        },
        methods: {
            onPickAnswer(answer) {
                this.question.selectedAnswer = answer;
            }
        }
    };
</script>
<style>
    .link {
        color: black;
        text-decoration: underline;
    }

    .link:hover {
        cursor: pointer;
    }
</style>
