<template>
    <div class="row">
        <div class="col-12" align="center">
            <h2>{{this.title}}</h2>
            <h5>{{this.totalSubtitle + ": " + this.score }}</h5>
            <h5>{{this.spentTimeSubtitle + ": " + this.spentTime}}</h5>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                required: true,
                default: "Total obtenido"
            },
            totalSubtitle: {
                type: String,
                required: true
            },
            total: {
                type: Number,
                required: true,
                default: 40
            },
            totalFilled: {
                type: Number,
                required: true,
                default: 0
            },
            spentTime: {
                type: String,
                required: true
            },
            spentTimeSubtitle: {
                type: String,
                required: true
            }
        },
        computed: {
            score: function () {
                return this.totalFilled + "/" + this.total;
            }
        }
    };
</script>

<style>
</style>
