<template>
    <div class="row">
        <div class="col-12">
            <template v-if="!this.simulator.finished">
                <simulator-header
                    :title="this.simulator.area.name"
                    :hours="1"
                    :minutes="30"
                    @onFinish="onFinish"
                    @onCancel="onCancel"
                    @onTimeout="onTimeout"
                ></simulator-header>
            </template>

            <template v-else>
                <score-result
                    :title="'Simulacro finalizado'"
                    :total="totalOfQuestions"
                    :total-filled="this.simulator.score"
                    :total-subtitle="'Total obtenido'"
                    :spent-time-subtitle="'Tiempo utilizado'"
                    :spent-time="this.simulator.spentTime"
                ></score-result>
                <div align="center">
                    <black-button @onClick="_exitSimulator">Finalizar revisión</black-button>
                </div>
            </template>
        </div>

        <div class="col-12">
            <course-item :area="this.simulator.area" :course="this.selectedCourse"></course-item>
        </div>

        <div class="col-12" align="center">
            <backward-forward-button
                @onClickBackward="onClickBackClass"
                @onClickForward="onClickGoNextClass"
            ></backward-forward-button>
        </div>

        <loading-modal ref="loading_modal"></loading-modal>
        <alert-modal
            ref="alert_modal"
            :id="'alert_modal'"
            :content="getSimulatorErrorMessage"
            @onAcceptAlertModal="_redirectToArea"
        ></alert-modal>
    </div>
</template>

<script>
    import {helper, store} from "../../_simulator/Simulator";

    export default {
        props: {
            simulatorData: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                simulator: this.simulatorData,
                selectedCourse: this.simulatorData.courses[0],
                courseIndex: 0
            };
        },
        computed: {
            areaUrl: function () {
                return `/areas/${this.simulator.area.id}`;
            },
            getSimulatorErrorMessage() {
                return helper.buildErrorSavingSimulatorMessage();
            },
            totalOfQuestions() {
                let total = 0;
                this.simulatorData.courses.forEach((course) => total += course.questions.length);
                return total;
            }
        },
        methods: {
            onClickBackClass() {
                if (this.courseIndex > 0) {
                    this.selectedCourse = this.simulator.courses[--this.courseIndex];
                }
            },
            onClickGoNextClass() {
                if (this.courseIndex < this.simulator.courses.length - 1) {
                    this.selectedCourse = this.simulator.courses[++this.courseIndex];
                }
            },
            onFinish(time) {
                let me = this;
                me._updateSpentTime(time);
                me._showLoadingModal();

                let onSuccess = simulatorResult => {
                    me._dismissLoadingModal();
                    me._handleSimulatorResult(simulatorResult);
                };

                let onError = () => {
                    me._dismissLoadingModal();
                    me._showAlertModal();
                };

                store.store(me.simulator, onSuccess, onError);
            },
            onTimeout(time) {
                toastr.warning("Tiempo agotado, se procederá a corregir tus respuestas");
                this.onFinish(time);
            },
            onCancel(time) {
                let me = this;

                me._updateSpentTime(time);

                store.cancel(() => me._redirectToArea());
            },
            _redirectToArea() {
                window.location.href = this.areaUrl;
            },
            _exitSimulator() {
                window.history.back();
            },
            _updateSpentTime(endTime) {
                this.simulator.spentTime = helper.getFormattedEndTime(endTime);
            },
            _handleSimulatorResult(simulatorResult) {
                this.simulator = simulatorResult.simulator;
                this.selectedCourse = this.simulator.courses[this.courseIndex];
            },
            _showLoadingModal() {
                this.$refs.loading_modal.show();
            },
            _dismissLoadingModal() {
                this.$refs.loading_modal.dismiss();
            },
            _showAlertModal() {
                this.$refs.alert_modal.show();
            }
        }
    };
</script>

<style>
</style>
