<template>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12" align="center">
                    <h1 v-text="this.title"></h1>
                    <h5 v-text="this.displayableTime"></h5>
                </div>
                <div class="col-12" align="center">
                    <div class="row">
                        <div class="col-6">
                            <black-button @onClick="onClickCancel">{{this.negativeButtonText}}</black-button>
                        </div>
                        <div class="col-6">
                            <green-button @onClick="onClickFinish">{{this.positiveButtonText}}</green-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <confirmation-modal
            :id="'cancel-simulator-modal'"
            :title="'Cancelar progreso'"
            :content="'¿Estás seguro de cancelar el simulacro en progreso?'"
            @onAcceptConfirmationModal="onCancelSimulator"
        ></confirmation-modal>
        <confirmation-modal
            :id="'finish-simulator-modal'"
            :title="'Finalizar simulacro'"
            :content="'¿Estás seguro de finalizar el simulacro?'"
            @onAcceptConfirmationModal="onFinishSimulator"
        ></confirmation-modal>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                required: true
            },
            positiveButtonText: {
                type: String,
                required: false,
                default: "Finalizar"
            },
            negativeButtonText: {
                type: String,
                required: false,
                default: "Cancelar"
            },
            hours: {
                type: Number,
                required: true
            },
            minutes: {
                type: Number,
                required: true
            }
        },
        data: function () {
            return {
                time: null,
                timer: null,
                displayableTime: null,
                canContinue: true
            };
        },
        methods: {
            updateProgress() {
                if (!this.checkTimeout()) {
                    this.time.setSeconds(this.time.getSeconds() - 1);
                    this.updateDisplayableTime(this.time);
                } else {
                    this.onTimeout();
                }
            },
            checkTimeout() {
                const minutes = this.time.getMinutes();
                const seconds = this.time.getSeconds();
                const hour = this.time.getHours();
                this.canContinue = !(hour === 0 && seconds === 0 && minutes === 0);
                return !this.canContinue;
            },
            updateDisplayableTime(newTime) {
                this.displayableTime =
                    newTime.getHours() +
                    ":" +
                    newTime.getMinutes() +
                    ":" +
                    newTime.getSeconds();
            },
            onClickFinish() {
                $("#finish-simulator-modal").modal("show");
            },
            onClickCancel() {
                $("#cancel-simulator-modal").modal("show");
            },
            onTimeout() {
                clearInterval(this.timer);
                this.$emit("onTimeout", this.time);
            },
            onCancelSimulator() {
                clearInterval(this.timer);
                this.$emit("onCancel", this.time);
            },
            onFinishSimulator() {
                clearInterval(this.timer);
                this.$emit("onFinish", this.time);
            }
        },
        mounted: function () {
            this.time = new Date();
            this.time.setHours(this.$props.hours);
            this.time.setMinutes(this.$props.minutes);
            this.time.setSeconds(0);
            this.timer = setInterval(this.updateProgress, 1000);
        }
    };
</script>

<style>
</style>
