<template>
    <div class="modal fade" :id="this.id" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" v-text="this.title"></h4>
                </div>

                <div class="modal-body">{{this.content}}</div>

                <div class="modal-footer">
                    <base-button data-dismiss="modal" @onClick="onClickAccept">{{this.positiveButtonText}}</base-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                required: true
            },
            title: {
                type: String,
                required: false,
                default: "Oopss..."
            },
            content: {
                type: String,
                required: true
            },
            positiveButtonText: {
                type: String,
                required: false,
                default: "Aceptar"
            }
        },
        methods: {
            onClickAccept() {
                this.$emit("onAcceptAlertModal", this.id);
            },
            show() {
                let id = "#" + this.id;
                $(id).modal("show");
            },
            hidde() {
                let id = "#" + this.id;
                $(id).modal("hidde");
            }
        }
    };
</script>

<style>
</style>
