<template>
    <div class="row">
        <div class="col-6">
            <base-button @onClick="$emit('onClickBackward')">{{this.backwardText}}</base-button>
        </div>
        <div class="col-6">
            <base-button @onClick="$emit('onClickForward')">{{this.forwardText}}</base-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            backwardText: {
                type: String,
                required: false,
                default: "Anterior"
            },
            forwardText: {
                type: String,
                required: false,
                default: "Siguiente"
            }
        }
    };
</script>

<style>
</style>
