<template>
    <div class="modal" :id="this.id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" v-text="this.title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">{{this.content}}</div>

                <div class="modal-footer">
                    <black-button data-dismiss="modal" @onClick="onClickCancel">{{this.negativeButtonText}}
                    </black-button>
                    <base-button data-dismiss="modal" @onClick="onClickAccept">{{this.positiveButtonText}}</base-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            content: {
                type: String,
                required: true
            },
            positiveButtonText: {
                type: String,
                required: false,
                default: "Aceptar"
            },
            negativeButtonText: {
                type: String,
                required: false,
                default: "Cancelar"
            }
        },
        methods: {
            onClickCancel() {
                this.$emit("onCancelConfirmationModal", this.id);
            },
            onClickAccept() {
                this.$emit("onAcceptConfirmationModal", this.id);
            }
        }
    };
</script>

<style>
</style>
