<template>
    <button class="danger-btn" @click="$emit('onClick')">
        <slot></slot>
    </button>
</template>

<script>
    export default {};
</script>

<style lang="scss">
    @import url("https://fonts.googleapis.com/css?family=Rubik:500");

    .danger-btn {
        padding: 16px 42px;
        box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
        line-height: 1.25;
        background: #FC6E51;
        text-decoration: none;
        color: white;
        font-size: 16px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        position: relative;
        transition: background-color 0.6s ease;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            transform-style: flat;
            transform: translate3d(-50%, -50%, 0);
            background: rgba(white, 0.1);
            border-radius: 100%;
            transition: width 0.3s ease, height 0.3s ease;
        }

        &:focus,
        &:hover {
            background: darken(#FC6E51, 7%);
        }

        &:active {
            &:after {
                width: 200px;
                height: 200px;
            }
        }
    }
</style>
