<template>
    <button class="btn academy-btn m-2" @click="$emit('onClick')">
    <span class="white-text">
      <slot></slot>
    </span>
    </button>
</template>

<script>
    export default {};
</script>

<style>
    .white-text {
        color: white;
    }
</style>
