<template>
    <div id="loading-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loading-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cargando...</h5>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            show() {
                $("#loading-modal").modal("show");
            },
            dismiss() {
                $("#loading-modal").modal("hide");
            }
        }
    };
</script>

<style>
</style>
