<template>
    <embed :src="resourceUri" frameborder="0" width="100%" height="600px">
</template>

<script>
    export default {
        name: "ResourceComponent",
        props: [
            'resourceUri'
        ],
        data: function () {
            return {}
        },
        methods: {
            loadResource() {
            }
        }
        ,
        mounted() {
            this.loadResource();
        }
    }
</script>
