<template>
    <iframe class="player" :src="videoUri" frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</template>

<script>
    export default {
        props: {
            videoUri: String
        },
    }
</script>
<style>
    @media (min-width: 640px) {
        .player {
            width: 100%;
            height: 300px;
        }
    }

    @media (max-width: 639px) {
        .player {
            width: 100%;
            height: 300px;
        }
    }

    @media (min-width: 768px) {
        .player {
            width: 100%;
            height: 400px;
        }
    }

    @media (min-width: 1024px) {
        .player {
            width: 100%;
            height: 500px;
        }
    }

    @media (min-width: 1200px) {
        .player {
            width: 100%;
            height: 500px;
        }
    }
</style>
