<template>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {};
</script>

<style>
</style>
